body {
  display: flex;
  flex-flow: column nowrap;
  font-family: Arial, Verdana, sans-serif;
  height: 100vh;
  width: 100vw;
}

.menu {
  display: flex;
  flex-flow: column nowrap;
}
.entry {
  display: flex;
  flex-flow: row nowrap;
  height: 30vh;
  width: 90vw;
  margin-top: 1%;

}
.textFields {
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
  margin-right: 1%;
}

.textFields div:first-child {
  vertical-align: top;
  padding-bottom: 15px;
  font-weight: 500;
  text-decoration: underline;
  font-size: 2.5vw;
}


.poster {
  padding-right: 2%;
  height: 100%;
  width: auto;
  max-width: 100%;
}

.header {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 5px;
  /* height: 15vh */
}

.clock {
  border:1px solid black;
}

.footer {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-end;
  justify-content: flex-end;
  /* height: 15vh; */
  padding: 5px;
  /* height:10vh; */
  text-justify: right;
}